// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  gap: toRem(8);

  color: #131921;
  font-family: "Manrope";
  font-size: toRem(15);
  font-weight: 400;
  line-height: 160%; /* 24px */
}
// Спойлер
.spollers__item {
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  display: flex;
  gap: toRem(10);
  justify-content: space-between;
  cursor: default;
  text-align: left;
  padding: toRem(16);
  border-radius: toRem(12);
  position: relative;
  list-style: none;
  background-color: #fff;

  &._spoller-active {
    border-radius: toRem(12) toRem(12) 0 0;
  }

  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;
    &::after {
      content: "\e900";
      @extend %ic;
      flex: 0 0 toRem(20);
      height: 100%;
      line-height: 240%; /* 24/10 */

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: toRem(10);
      color: #9097a0;
      transition: all 0.5s ease 0s;
    }

    &._spoller-active {
      &::after {
        transform: rotate(-180deg);
        color: #e28d33;
      }
    }
  }
  @media (any-hover: hover) {
    &:hover {
      &::after {
        color: #e28d33;
      }
    }
  }
}
// Контент спойлера
.spollers__body {
  padding: toRem(0) toRem(16) toRem(16);
  border-radius: 0 0 toRem(12) toRem(12);
  background-color: #fff;
}
