// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.title {
  font-family: "Montserrat Alternates";
  @include adaptiveValue("font-size", 54, 36, 0, 800, 375);
  font-weight: 600;
  line-height: 100%; /* 54px */

  span {
    color: #e28d33;
  }
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
