// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.title {
  font-family: "Montserrat Alternates";
  @include adaptiveValue("font-size", 54, 36, 0, 800, 375);
  font-weight: 600;
  line-height: 100%; /* 54px */

  span {
    color: #e28d33;
  }
}

//========================================================================================================================================================

.list {
  display: grid;
  gap: toRem(14);

  &__title {
    font-family: "Montserrat Alternates";
    font-size: toRem(22);
    line-height: 122.7%; /* 27/22 */
    margin-bottom: toRem(6);
  }

  &__item {
    font-family: "Manrope";
    font-size: 15px;
    line-height: 160%; /* 24px */

    display: flex;
    align-items: center;
    column-gap: toRem(8);

    &::before {
      content: "";
      display: block;
      flex: 0 0 toRem(20);
      height: toRem(20);
      background-image: url("@img/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

//========================================================================================================================================================

.decor {
  position: absolute;
  width: max-content;
  color: #131921;
  font-family: "Caveat";
  font-size: 25px;
  line-height: 106.5%; /* 26.625px */

  &::after {
    content: "";
    position: absolute;
    top: toRem(16);
    left: calc(100% + toRem(16));
    display: block;
    background-image: url("@img/decor-arr-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: toRem(84);
    height: toRem(35);
  }

  &_rigth {
    &::after {
      background-image: url("@img/decor-arr-left.svg");
      left: auto;
      right: calc(100% + toRem(16));
    }
  }
}

//========================================================================================================================================================

.play {
  position: relative;

  &::before {
    content: "\e907";
    @extend %ic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e28d33;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(24);
    color: #fff;
  }
}

//========================================================================================================================================================

.navigation {
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: toRem(10);
  &__button {
    pointer-events: all;
    width: toRem(52);
    height: toRem(52);
    border-radius: 50%;
    background-color: #131921;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(12);
    color: #fff;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e28d33;
      }
    }
  }
}
.button-prev {
}
.button-next {
}

//========================================================================================================================================================

.pagination {
  display: flex;
  gap: toRem(3);
  align-items: center;
  justify-content: center;
  .swiper-pagination-bullet {
    cursor: pointer;
    width: toRem(10);
    height: toRem(10);
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #e28d33;
      }
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #e28d33;
  }
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

.swiper-carousel {
  position: relative;
  .swiper-slide {
    position: relative;
  }
}
