//====================================================================================================

.category {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: toRem(6);

  font-size: toRem(14);
  line-height: 135.7%; /* 19/14 */
  &__item {
    border-radius: toRem(49);
    background: #fff;
    padding: toRem(8) toRem(9);

    display: flex;
    column-gap: toRem(5);

    transition: all 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px toRem(15) 0px;
      }
    }
  }

  &__ico {
    flex: 0 0 toRem(20);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

.hero {
  &__container {
    position: relative;
  }

  &__body {
    padding-top: toRem(137);
    @include adaptiveValue("padding-bottom", 172, 30);

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
      row-gap: toRem(48);

      padding-top: toRem(25);
    }
  }

  &__content {
    @media (min-width: $tablet) {
      max-width: toRem(570);
    }
  }

  &__title {
    font-family: "Montserrat Alternates";
    @include adaptiveValue("font-size", 54, 36, 0, 800, 375);
    font-weight: 600;
    line-height: 100%; /* 54px */

    span {
      color: #e28d33;
    }

    @media (max-width: em(800)) {
      text-align: center;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 12, 18);
    }
  }

  &__text {
    font-size: toRem(16);
    line-height: 170%; /* 27.2px */

    @media (max-width: em(800)) {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }

  &__category {
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }

    @media (max-width: em(800)) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: toRem(12);

    @media (max-width: em(800)) {
      flex-direction: column;
    }
  }

  &__button {
    @media (max-width: em(800)) {
      width: 100%;
    }
  }

  &__image {
    @media (min-width: $tablet) {
      position: absolute;
      top: toRem(40);
      right: toRem(-260);
      width: percent(889, 1213);
      z-index: -2;
    }

    img {
      max-width: 100%;
    }
  }
}

.image-hero {
  &__decor {
    top: toRem(40);
    right: calc(100% + toRem(35));

    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__circle {
    position: absolute;
    top: toRem(25);
    right: toRem(290);
    color: #fff;

    @include adaptiveValue("width", 166, 97);
    @include adaptiveValue("height", 166, 97);
    background-color: #3472bf;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: em(800)) and (max-width: $tablet) {
      display: none;
    }
    @media (max-width: em(800)) {
      top: toRem(40);
      right: toRem(65);
    }

    &::after {
      content: "";
      position: absolute;
      box-shadow: 0 0 0 toRem(10) rgba(52, 114, 192, 0.09);
      inset: 0;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      transform: scale(1);
      animation: pulse 2s infinite;
    }
  }

  &__num {
    font-family: "Montserrat Alternates";
    @include adaptiveValue("font-size", 37, 21);
    line-height: 121.6%; /* 45/37 */
  }
  &__text {
    font-family: "Manrope";
    @include adaptiveValue("font-size", 17, 10);
    line-height: 135.3%; /* 23/17 */
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 toRem(10) rgba(52, 114, 192, 0.09);
  }

  70% {
    box-shadow: 0 0 0 toRem(25) rgba(52, 114, 192, 0.09);
  }

  100% {
    box-shadow: 0 0 0 toRem(10) rgba(52, 114, 192, 0.09);
  }
}
//====================================================================================================

.products {
  @include adaptiveValue("padding-top", 35, 30);
  @include adaptiveValue("padding-bottom", 35, 30);
  &__container {
  }

  &__body {
  }

  &__title {
    width: max-content;
    position: relative;
    margin-bottom: toRem(25);
  }

  &__decor {
    top: toRem(-20);
    left: calc(100% + toRem(130));

    @media (max-width: em(800)) {
      display: none;
    }
  }

  &__tabs {
  }
}

.tabs-products {
  &__slider {
  }

  &__wrapper {
  }

  &__title {
    position: relative;
    font-family: "Manrope";
    font-size: toRem(16);
    line-height: 170%; /* 27.2px */
    padding-bottom: toRem(18);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: toRem(2);
      left: 0;
      bottom: 0;
      border-radius: toRem(4);
      background-color: #fff;
      display: block;

      transition: all 0.2s ease 0s;
    }

    &._tab-active {
      &::after {
        background-color: #e28d33;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          background-color: #e28d33;
        }
      }
    }
  }

  &__content {
    margin-top: toRem(38);
  }

  &__body {
  }
}

.product-item {
  &__body {
    display: flex;
    justify-content: flex-end;
    gap: toRem(24);

    @media (max-width: em(800)) {
      flex-direction: column;
    }
  }

  &__image-ibg--contain {
    padding-bottom: percent(206, 327);
    @media (min-width: em(800)) {
      padding-bottom: percent(360, 1165);
      flex: 0 0 percent(570, 1165);
    }

    img {
      object-position: top center;
    }
  }

  &__content {
    @media (min-width: $pc) {
      flex: 0 0 percent(450, 1165);
    }
    @media (min-width: em(800)) {
      flex: 1 1 auto;
    }
  }

  &__title {
    font-family: "Montserrat Alternates";
    font-size: 28px;
    font-weight: 600;
    line-height: 121.4%; /* 34/28 */
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__button {
    @media (max-width: em(800)) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.choose {
  @include adaptiveValue("padding-top", 35, 30);
  @include adaptiveValue("padding-bottom", 35, 30);
  &__container {
  }

  &__body {
    border-radius: toRem(24);
    background: #fff;

    display: flex;
    justify-content: space-between;
    @include adaptiveValue("column-gap", 45, 15, 0, 1213, 991);

    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: toRem(45);
    }

    @media (min-width: em(800)) {
      @include adaptiveValue("padding", 54, 25, 0, 1213, 991);
    }
    @media (max-width: em(800)) {
      @include adaptiveValue("padding", 35, 25, 0, 800, 375);
    }
  }

  &__content {
  }

  &__title {
    color: #000;
    font-family: "Montserrat Alternates";
    @include adaptiveValue("font-size", 42, 36, 0, 1213, 800);
    line-height: 110%; /* 46.2px */

    @media (max-width: em(800)) {
      line-height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__type {
  }

  &__type-title {
    color: #494949;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 137.5%; /* 22/16 */
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(8);
    &:not(:last-child) {
      margin-bottom: toRem(26);
    }
  }

  &__navigation-title {
    cursor: pointer;
    border-radius: toRem(49);
    padding: toRem(12) toRem(16);
    border: toRem(1) solid #9097a0;

    color: #9097a0;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%; /* 24px */
    transition: all 0.3s ease 0s;
    &._active {
      background-color: #131921;
      border-color: #131921;
      color: #fff;
    }

    @media (max-width: em(800)) {
      display: none;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #131921;
        border-color: #131921;
        color: #fff;
      }
    }
  }

  &__lists {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__list {
    display: none;

    &._show {
      display: grid;
    }
  }

  &__buttons {
    display: flex;
    gap: toRem(12);

    @media (max-width: em(800)) {
      flex-direction: column;
    }
  }

  &__button {
  }

  &__banners {
    @media (min-width: $tablet) {
      flex: 0 0 percent(495, 1055);
    }
  }

  &__banner {
    cursor: pointer;
    display: none;

    &._show {
      display: block;
    }
  }
}

.banner {
  overflow: hidden;
  position: relative;
  border-radius: toRem(24);
  @include adaptiveValue("padding", 30, 24, 0, 800, 375);
  background: #e28d33;
  @include adaptiveValue("height", 425, 355, 0, 800, 375);

  color: #fff;

  & > * {
    position: relative;
    z-index: 1;
  }

  &__mark {
    padding: toRem(8) toRem(12);
    width: max-content;
    border-radius: toRem(49);
    background: #131921;

    font-family: Manrope;
    font-size: toRem(13);
    font-weight: 500;
    line-height: 138.5%; /* 18/13 */
    text-transform: uppercase;
    margin-bottom: toRem(7);
  }

  &__title {
    font-family: "Montserrat Alternates";
    @include adaptiveValue("font-size", 36, 24, 0, 800, 375);
    font-weight: 600;
    line-height: 122.2%; /* 44/36 */
    margin-bottom: toRem(10);

    span {
      color: #131921;
    }
  }

  &__text {
    font-family: "Manrope";
    font-size: toRem(15);
    line-height: 160%; /* 24px */
  }

  &__bg-ibg--contain {
    position: absolute;
    width: percent(395, 495);
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 0;

    img {
      object-position: bottom right;
    }
  }
}

//========================================================================================================================================================

.whyus {
  @include adaptiveValue("padding-top", 35, 30);
  @include adaptiveValue("padding-bottom", 35, 30);
  &__container {
  }

  &__title {
    margin-bottom: toRem(40);
  }

  &__items {
    display: grid;
    gap: toRem(12);

    @media (min-width: em(800)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
  }
}

.item-whyus {
  border-radius: toRem(24);
  background: #fff;

  font-family: "Manrope";

  padding: toRem(24) toRem(16);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__ico {
    width: toRem(64);
    height: 64px;
    border-radius: toRem(16);
    background: #f1f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(16);

    &:not(:last-child) {
      margin-bottom: toRem(16);
    }

    img {
      max-width: 100%;
    }
  }

  &__title {
    font-size: toRem(16);
    font-weight: 600;
    line-height: 137.5%; /* 22/16 */

    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  &__text {
    color: #494949;
    font-size: toRem(14);
    font-weight: 400;
    line-height: 160%; /* 22.4px */
  }
}

//========================================================================================================================================================

.about {
  @include adaptiveValue("padding-top", 35, 30);
  @include adaptiveValue("padding-bottom", 35, 30);
  &__container {
  }

  &__body {
    display: flex;
    @include adaptiveValue("column-gap", 74, 15, 0, 1213, 991);

    @media (max-width: em(800)) {
      flex-direction: column;
      @include adaptiveValue("row-gap", 42, 26, 0, 800, 375);
    }
  }

  &__slider {
    height: fit-content;
    flex: 1 1 auto;

    min-width: 0;

    @media (max-width: em(800)) {
      max-width: toRem(570);
      margin: 0 auto;
      width: 100%;
    }
    @media (max-width: em(600)) {
      overflow: hidden;
    }
  }

  &__wrapper {
  }

  &__slide-ibg {
    height: fit-content;
    position: relative;
    display: block;
    padding-bottom: percent(566, 571);
    border-radius: toRem(28);
    overflow: hidden;

    &.swiper-slide-next,
    &.swiper-slide-prev {
      img {
        @media (min-width: em(600)) {
          opacity: 0.3;
          transition: all 0.3s ease 0.5s;
        }
      }
    }

    img {
      @media (min-width: em(600)) {
        transition: all 0.3s ease 0s;
      }
    }

    @media (max-width: em(600)) {
      padding-bottom: percent(449, 327);
    }

    @media (any-hover: hover) {
      &:hover {
        & img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__content {
    flex: 0 0 percent(520, 1165);
    display: flex;
    flex-direction: column;
    gap: toRem(26);
  }

  &__title {
    @media (max-width: em(800)) {
      display: none;
    }
    &_mob {
      @media (min-width: em(800)) {
        display: none;
      }
      @media (max-width: em(800)) {
        display: block;
        margin-bottom: toRem(25);
      }
    }
  }

  &__showmore {
  }

  &__button {
    margin-top: auto;
    width: max-content;

    @media (max-width: em(600)) {
      width: 100%;
    }
  }

  &__navigation {
    justify-content: space-between;
    @include adaptiveValue("padding", 15, 2, 0, 1213, 800);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;

    @media (max-width: em(800)) {
      padding: 0 toRem(15);
    }

    @media (max-width: em(600)) {
      display: none;
    }
  }

  &__pagination {
    margin-top: toRem(26);
    @media (min-width: em(600)) {
      display: none;
    }
  }
}

//========================================================================================================================================================

.faq {
  @include adaptiveValue("padding-top", 35, 30);
  @include adaptiveValue("padding-bottom", 80, 40);
  &__container {
  }

  &__title {
    margin-bottom: toRem(35);
  }

  &__body {
    display: flex;
    gap: toRem(24);

    @media (max-width: em(800)) {
      flex-direction: column;
    }
  }

  &__spollers {
    @media (min-width: em(800)) {
      flex: 1 1 auto;
    }
  }

  &__banner {
    @media (min-width: em(800)) {
      flex: 0 0 toRem(273);
    }
  }
}

.contact-banner {
  border-radius: toRem(24);
  background: #e28d33;
  padding: toRem(28);
  text-align: center;
  height: toRem(511);

  position: relative;
  display: flex;
  flex-direction: column;
  gap: toRem(10);

  @media (max-width: em(800)) {
    padding: toRem(28) toRem(24) toRem(24);
    max-width: toRem(400);
    margin-left: auto;
    margin-right: auto;
    height: toRem(541);
  }

  & > * {
    z-index: 2;
  }

  &__title {
    font-family: "Montserrat Alternates";
    font-size: toRem(28);
    font-weight: 600;
    line-height: 121.4%; /* 34/28 */
  }

  &__text {
    color: #fff;
    font-family: "Manrope";
    font-size: toRem(15);
    font-weight: 400;
    line-height: 160%; /* 24px */
  }

  &__button {
    background-color: #131921;
    margin-top: auto;

    @media (any-hover: hover) {
      &:hover {
        background: #343536;
      }
    }
  }

  &__image-ibg--contain {
    position: absolute;
    width: calc(100% - toRem(60));
    left: toRem(30);
    height: 100%;
    top: 0;
    z-index: 1;

    @media (max-width: em(800)) {
      width: calc(100% - toRem(112));
      left: toRem(56);
    }

    img {
      object-position: bottom center;
    }
  }
}
